*{margin: 0;}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__stats{
  display: flex;
  justify-content: space-between;

}

.app{
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}
body{
  background-color: #f5f6fa;
    justify-content: space-between;

}
.app__left{
  flex: 0.9;
}
@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow:1;
}
.app__graph{
  flex-grow: 1;
  
}